button {
  border: none;
  padding: .5em 1em;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  font-size: 16px;

  &[disabled] {
    opacity: .7;
    cursor: default;
  }

  &:hover {
    box-shadow: 0 0 3px grey;;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px black;;
  }

  &.primary {
    background-color: #6aa9fc;
    color: white;
  }

  &.default {
    background-color: white;
  }

  &.danger {
    background-color: #e2285a;
    color: white;
  }

  &.size-default {
    font-size: 16px;
  }

  &.size-small {
    font-size: 12px;
    padding: .4em;
  }

  &.size-large {
    font-size: 20px;
  }

}