:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 10px;
}

.playersList {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.playerContainer {
  min-height: 100px;
  box-shadow: 0 0 5px lightgray;
  margin: 5px 0;
  position: relative;
}

.addPlayer {
  padding: 10px;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}