:host {
  padding: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gameEvents {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  list-style: none;

  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  overflow-y: auto;
}

.gameEvent {
  font-size: 16px;
  padding: .5em 1em;
  border-bottom: 1px solid lightgray;
  color: #444;
  
  @media (min-width: 480px) {
    font-size: 18px;
  }
}

.time {
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
  color: black;
}

.player {
  font-weight: bold;
  color: goldenrod;
}

.attribute {
  font-weight: bold;
  color: darkorchid;
}

.number {
  font-weight: bold;
  color: darkslateblue;
}

.failure {
  font-weight: bold;
  color: #bf0000;
}

.success {
  font-weight: bold;
  color: darkgreen;
}

.description {
  font-style: italic;
  color: #555;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}