:host {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;

  border: 1px solid #444;
  border-radius: 5px;
}

.radioGroup-container {
  display: flex;
}

.radioGroup-label {
  margin: 3px;
  color: #444;
  font-size: 16px;
  position: relative;
  height: 2em;
}

.radioGroup-title {
  font-size: 14px;
  padding: 0 .5em;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.radioGroup-item {
  display: block;
  border-radius: 5px;
  line-height: 1.5em;
  box-shadow: 0 0 3px grey;
  border: 1px solid black;
  padding: .3em .6em;

  font-weight: normal;
  text-align: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 3px black;
  }
}

:checked + .radioGroup-item {
  font-weight: bold;
  box-shadow: 0 0 3px black;
  background-color: #6aa9fc;
  color: white;
}

[type=radio] {
  display: none;  
}