<div class="actions">
  <app-button category="primary"
    *ngIf="gameState === 'not-started'"
    (onClick)="onStartGame()"
    > 
    Começar
  </app-button>

  <app-button category="primary"
    *ngIf="gameState === 'editing'"
    (onClick)="onResumeGame()"
    > 
    Retomar
  </app-button>

  <app-button category="primary"
    *ngIf="gameState === 'started'"
    (onClick)="onRequestRoll()"
    > 
    Rolar Dados
  </app-button>

  <app-button category="default"
    *ngIf="gameState === 'started'"
    (onClick)="onEditGame()"
    > 
    Alterar Jogadores
  </app-button>

  <app-button category="danger"
    *ngIf="gameState === 'started'"
    (onClick)="onFinishGame()"> 
    Finalizar
  </app-button>

  <app-button category="primary"
    *ngIf="gameState === 'finished'"
    (onClick)="onRestartGame()"
  > 
    Reiniciar
  </app-button>
</div>