.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #eaa82c;
}

.app-title {
  padding: 10px;
  font-size: 26px;
  color: #222;
}

.app-gameControl {
  min-height: 60px;
  position: relative;
}

.app-gameContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  @media (min-width: 480px) {
    flex-direction: row;
  }
}

.app-playerList {
  min-height: 300px;
  position: relative;
  @media (min-width: 480px) {
    min-width: 450px;
  }
}

.app-gameEvents {
  min-height: 300px;
  flex: 3;
  position: relative;
}