<div class="app">
  <header class="app-header">
    <h1 class="app-title"> Guaxinins e Gambiarras </h1>
  </header>

  <section class="app-gameControl">
    <app-game-control [gameState]="gameState"></app-game-control>
  </section>

  <div class="app-gameContent">
    <section class="app-playerList">
      <app-player-list [gameState]="gameState"></app-player-list>
    </section>
    <section class="app-gameEvents">
      <app-game-events></app-game-events>
    </section>
  </div>

  <app-dice-roll></app-dice-roll>
</div>